{% extends '__base__.html' %}

{% block title %}极客测试-专业的软件测试技术分享网站{% endblock %}

{% block content %}
    <!--左侧导航-->
    <div class="uk-width" style="width: 106px;">
        <div class="list-group text-center" id="list-tab" role="tablist">
            <a v-on:click.prevent="list_posts(category)" v-bind:id="category.category" class="list-group-item list-group-item-action p-2" data-toggle="list" href="javascript:void(0)" v-for="category in categories">{[ category.category ]}</a>
        </div>
    </div>

    <!--中间内容区域-->
    <div class="uk-width" style="width: 635px">

        <div id="demo" class="carousel slide" data-ride="carousel">

          <!-- 轮播图片 -->
          <div class="carousel-inner rounded">
            <div v-bind:id="'carousel' + carousel.id" class="carousel-item" v-for="carousel in carousels">
                <a v-bind:href="'/post/' + carousel.postid"><img v-bind:src="carousel.image"></a>
                <div class="carousel-caption d-none d-md-block">
                    <!--h5>第一张图片</h5-->
                    <p>{[ carousel.summary ]}</p>
                </div>
            </div>
          </div>

          <!-- 左右切换按钮 -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>

        </div>

        <hr class="uk-article-divider uk-margin-small">
        <!--文章列表-->
        <div class="uk-clearfix uk-vertical-align uk-margin-remove" v-for="post in posts">
            <img class="uk-border-rounded uk-align-medium-left uk-vertical-align-middle uk-margin-small-bottom" v-bind:src="post.image" alt="封面图片" width="120" height="90">
            <div class="uk-vertical-align-middle">
                <h4><a v-bind:href="'/posts/' + post.id">{[ post.title ]}</a></h4>
                <p>{[ post.summary ]}</p>
                <p class="uk-article-meta uk-margin-small-bottom"><i class="uk-icon-user"></i>&nbsp;{[ post.nickname ]}&nbsp;&nbsp;&nbsp;&nbsp;<i class="uk-icon-calendar"></i>&nbsp;{[ post.create_time.substr(0,10) ]}&nbsp;&nbsp;&nbsp;&nbsp;<i class="uk-icon-eye"></i>&nbsp;{[ post.page_view ]}</p>
            </div>
            <hr class="uk-article-divider uk-margin-small">
        </div>
        <!--继续阅读-->
        <div class="uk-container uk-text-center">
            <a v-if="has_next" v-on:click.prevent="read_more()" class="uk-text-large" type="button"><i class="uk-icon-arrow-down"></i>继续阅读...</a>
        </div>
    </div>

    <!--右侧区域-->
    <div class="uk-width" style="width: 290px">
        <!--7日精选-->
        <div>
            <img src="/static/images/7day.png" class="rounded">
        </div>
        <!--30日精选-->
        <div>
            <img src="/static/images/30day.png" class="rounded">
        </div>

        <div style="padding: 28px 24px;background: rgba(20,156,184,.06);border-radius: 12px;" class="uk-margin-small">
            <h4 style="color:#149cb8">最新公告</h4>
            <p><span v-html="index_notice"></span></p>
        </div>
        <div style="padding: 28px 32px;background: rgba(28,31,33,.04);border-radius: 12px;" class="uk-margin-small">
            <h4>遇到了问题？</h4>
            <p>加入官方交流群，每日定期推荐优质学习资料以及求职经验干货，与更多IT工作者交流学习！</p>
            <span><b style="color:#149cb8">群号：662526455</b></span>
        </div>
    </div>
{% endblock %}

{% block vuejs %}
<script>
    var vm = new Vue({
        delimiters: ['{[', ']}'],
        el: '#vm',
        data: {
            page: '',
            pages: '',
            has_next: false,
            categories: [],
            post_type: '1',
            current_posts_category: '',  //当前页面分类
            posts: [],
            carousels: [],
            index_notice: ''
        },
        created: function () {
            //获取轮播图片信息
            $.ajax({
                type: 'get',
                url: 'api/carousels',
                dataType: 'json',
                success: function (msg) {
                    console.log("轮播图片信息加载成功");
                    vm.carousels = msg.carousels;
                },
                error: function (msg) {
                    console.log("轮播图片信息加载失败");
                }
            });
            //加载最新文章列表
            $.ajax({
                type: 'get',
                url: '/api/posts?post_type=1',
                dataType: 'json',
                success: function (msg) {
                    console.log("文章列表加载成功");
                    vm.page = msg.page;
                    vm.has_next = msg.has_next;
                    vm.posts = msg.posts;
                },
                error: function (msg) {
                    console.log("文章列表加载失败");
                }
            });
            //加载系统公告
            $.ajax({
                type: 'get',
                url: '/api/syssettings',
                dataType: 'json',
                success: function (msg) {
                    console.log("系统公告加载成功");
                    vm.index_notice = marked(msg.index_notice);
                },
                error: function (msg) {
                    console.log("系统公告加载失败");
                }
            });
            //获取文章分类信息
            $.ajax({
                type: 'get',
                url: '/api/posts/categories',
                dataType: 'json',
                success: function (msg) {
                    console.log("文章分类信息加载成功");
                    //只加载post_type=1的分类
                    for (x in msg.categories) {
                        if (msg.categories[x].type.substr(0,1) === '1') {
                            vm.categories = vm.categories.concat(msg.categories[x]);
                        }
                    }
                },
                error: function (msg) {
                    console.log("文章分类信息加载失败");
                }
            });
            //插入最新文章到list-tab开头
            $('#list-tab').prepend('<a onclick="location=\'/\'" class="list-group-item list-group-item-action p-2 active show" data-toggle="list" href="javascript:void(0)">最新文章</a>');

        },
        updated(){
            this.inits();

        },
        methods: {
            inits: function(){
                $('#carousel1').addClass('active');
                $('#carousel2').removeClass('active');
                $('#carousel3').removeClass('active');
            },
            read_more: function () {
                this.page += 1;
                var page = this.page;
                $.ajax({
                    type: 'get',
                    url: '/api/posts?page='+page+'&'+'per_page=20'+'&post_type='+vm.post_type+'&'+'category='+vm.current_posts_category,
                    dataType: 'json',
                    success: function (msg) {
                        vm.has_next = msg.has_next;
                        vm.page = msg.page;
                        vm.posts = vm.posts.concat(msg.posts);
                        console.log("继续阅读,文章加载成功");
                    },
                    error: function (msg) {
                        console.log("继续阅读,文章加载失败");
                        return -1;
                    }
                });
            },
            list_posts: function (category) {
                vm.current_posts_category = category.category;
                $.ajax({
                    type: 'get',
                    url: '/api/posts?post_type='+vm.post_type+'&'+'category='+vm.current_posts_category,
                    dataType: 'json',
                    success: function (msg) {
                        console.log("文章列表加载成功");
                        vm.page = msg.page;
                        vm.has_next = msg.has_next;
                        vm.posts = msg.posts;
                    },
                    error: function (msg) {
                        console.log("文章列表加载失败");
                    }
                });

            }
        }
    })
</script>
{% endblock %}