{% extends '__base__.html' %}

{% block title %}首页{% endblock %}

{% block content %}
    <div id="post" class="uk-width-medium-3-4">
        <div class="uk-clearfix uk-vertical-align uk-margin-remove" v-for="post in posts">
            <img class="uk-border-rounded uk-align-medium-left uk-vertical-align-middle uk-margin-small-bottom" v-bind:src="post.image" alt="封面" width="125" height="100">
            <div class="uk-vertical-align-middle">
                <h2><a v-bind:href="'/post/' + post.id">{[ post.title ]}</a></h2>
                <p>{[ post.summary ]}</p>
                <p class="uk-article-meta uk-margin-small-bottom">发表于{[ post.create_time ]}</p>
            </div>
            <hr class="uk-article-divider uk-margin-small">
        </div>

        <div class="uk-container uk-text-center">
            <a v-if="has_next" v-on:click.prevent="read_more()" class="uk-text-large" type="button"><i class="uk-icon-arrow-down"></i>继续阅读...</a>
        </div>
    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title"><i class="uk-icon-star"></i> 推荐阅读</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">编程</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">读书</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">Python教程</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">Git教程</a></li>
            </ul>
        </div>
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title"><i class="uk-icon-bookmark"></i> 站点说明</h3>
            <p>本站提供免费的软件测试相关教程和视频,欢迎大家学习和交流！</p>
        </div>
    </div>
{% endblock %}

{% block vuejs %}
<script>
    var vm = new Vue({
        delimiters: ['{[', ']}'],
        el: '#post',
        data: {
            page: '',
            pages: '',
            has_next: false,
            posts: []
        },
        created: function () {
            $.ajax({
                type: 'get',
                url: '/api/posts?per_page=2',
                dataType: 'json',
                success: function (msg) {
                    console.log("文章加载成功:");
                    vm.page = msg.page;
                    vm.has_next = msg.has_next;
                    vm.posts = vm.posts.concat(msg.posts);
                },
                error: function (msg) {
                    alert("文章加载失败");
                }
            });

        },
        methods: {
            read_more: function () {
                this.page += 1;
                page = this.page;
                $.ajax({
                    type: 'get',
                    url: '/api/posts?page='+page+'&'+'per_page=2',
                    dataType: 'json',
                    success: function (msg) {
                        vm.has_next = msg.has_next;
                        vm.page = msg.page;
                        vm.posts = vm.posts.concat(msg.posts);
                        console.log("继续阅读,文章加载成功");
                    },
                    error: function (msg) {
                        console.log("继续阅读,文章加载失败");
                        return -1;
                    }
                });
            }
        }
    })
</script>
{% endblock %}