{% extends '__base__.html' %}

{% block title %}极客测试-企业内推{% endblock %}

{% block content %}
    <div class="uk-width" style="width: 741px">
        <img src="/static/images/job.jpg" class="rounded">
        <!--职位分类导航-->
        <ul id="jobs" class="uk-subnav uk-subnav-pill uk-margin-small">
            <li data-uk-filter class="uk-active"><a href="javascript:void(0)" onclick="location='/jobs'">所有职位</a></li>
            <li v-bind:data-uk-filter="category.category" v-for="category in categories"><a v-on:click.prevent="list_posts(category)" href="javascript:void(0)">{[ category.category ]}</a></li>
        </ul>

        <hr class="uk-article-divider uk-margin-small">

        <div data-uk-grid="{gutter: 20, controls: '#jobs'}" class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4 tm-grid-heights">
        </div>

        <!--hr class="uk-article-divider uk-margin-small"-->

        <!--职位列表-->
        <div class="uk-clearfix uk-vertical-align uk-margin-remove" v-for="post in posts">
            <img class="uk-border-rounded uk-align-medium-left uk-vertical-align-middle uk-margin-small-bottom" v-bind:src="post.image" alt="封面图片" width="120" height="90">
            <div class="uk-vertical-align-middle">
                <h4><a v-bind:href="'/jobs/' + post.id" target="_blank">{[ post.title ]}</a></h4>
                <p>{[ post.summary ]}</p>
                <p class="uk-article-meta uk-margin-small-bottom"><i class="uk-icon-user"></i>&nbsp;{[ post.nickname ]}&nbsp;&nbsp;&nbsp;&nbsp;<i class="uk-icon-calendar"></i>&nbsp;{[ post.create_time.substr(0,10) ]}&nbsp;&nbsp;&nbsp;&nbsp;<i class="uk-icon-eye"></i>&nbsp;{[ post.page_view ]}</p>
            </div>
            <hr class="uk-article-divider uk-margin-small">
        </div>
        <!--更多职位-->
        <div class="uk-container uk-text-center">
            <a v-if="has_next" v-on:click.prevent="read_more()" class="uk-text-large" type="button"><i class="uk-icon-arrow-down"></i>更多职位...</a>
        </div>
    </div>

    <div class="uk-width" style="width: 290px">
        <div style="padding: 28px 27px;background: rgba(20,156,184,.06);border-radius: 12px;" class="uk-margin-small">
            <h4 style="color:#149cb8">免费发布职位</h4>
            <p style="font-size: 16px">轻/松/完/成/技/术/人/才/招/聘</p>
            <!--a href="javascript:void(0)" class="uk-button uk-button-primary uk-button-large" style="font-size: 16px">马上发布职位</a-->
            <button type="button" class="uk-button uk-button-primary uk-button-large" onclick="alert('请联系管理员！')" style="font-size: 16px">马上发布职位</button>
        </div>
        <div style="padding: 28px 27px;background: rgba(28,31,33,.04);border-radius: 12px;" class="uk-margin-small">
            <h4>遇到了问题？</h4>
            <p>加入官方交流群，每日定期推荐优质学习资料以及求职经验干货，与更多IT工作者交流学习！</p>
            <span><b style="color:#149cb8">群号：662526455</b></span>
        </div>
    </div>
{% endblock %}

{% block vuejs %}
<script>
    var vm = new Vue({
        delimiters: ['{[', ']}'],
        el: '#vm',
        data: {
            page: '',
            pages: '',
            has_next: false,
            post_type: '3',
            categories: [],
            current_posts_category: '企业内推',  //当前页面分类
            posts: [],
        },
        created: function () {
            //加载最新文章列表
            $.ajax({
                type: 'get',
                url: '/api/posts?post_type=3',
                dataType: 'json',
                success: function (msg) {
                    console.log("职位列表加载成功");
                    vm.page = msg.page;
                    vm.has_next = msg.has_next;
                    vm.posts = msg.posts;
                },
                error: function (msg) {
                    console.log("职位列表加载失败");
                }
            });
            //获取职位分类
            $.ajax({
                type: 'get',
                url: '/api/posts/categories',
                dataType: 'json',
                success: function (msg) {
                    console.log("职位分类信息加载成功");
                    //vm.categories = msg.categories;
                    //加载post_type=2的分类信息
                    for (x in msg.categories) {
                        if (msg.categories[x].type.substr(2,1) === '1') {
                            vm.categories = vm.categories.concat(msg.categories[x]);
                        }
                    }
                },
                error: function (msg) {
                    console.log("职位分类信息加载失败");
                }
            });
        },
        methods: {
            read_more: function () {
                this.page += 1;
                var page = this.page;
                $.ajax({
                    type: 'get',
                    url: '/api/posts?page='+page+'&'+'per_page=20'+'&post_type='+vm.post_type+'&'+'category='+vm.current_posts_category,
                    dataType: 'json',
                    success: function (msg) {
                        vm.has_next = msg.has_next;
                        vm.page = msg.page;
                        vm.posts = vm.posts.concat(msg.posts);
                        console.log("更多职位,加载成功");
                    },
                    error: function (msg) {
                        console.log("更多职位,加载失败");
                        return -1;
                    }
                });
            },
            list_posts: function (category) {
                vm.current_posts_category = category.category;
                $.ajax({
                    type: 'get',
                    url: '/api/posts?post_type='+vm.post_type+'&'+'category='+vm.current_posts_category,
                    dataType: 'json',
                    success: function (msg) {
                        console.log("职位列表加载成功");
                        vm.page = msg.page;
                        vm.has_next = msg.has_next;
                        vm.posts = msg.posts;
                    },
                    error: function (msg) {
                        console.log("职位列表加载失败");
                    }
                });

            }
        }
    })
</script>
{% endblock %}